@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500&family=Lato:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
}

/* General Components */


/* Landing-Section */

#landing-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

#introduction {
    display: flex;
    background-color: brown;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30%;
    width: auto;
}

#introduction h1 {
    font-size: 3rem;
    padding-bottom: 1.6rem;
    background-color: white;
}

/* Prompt-Section */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box, .box-odd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box {
    background-color: green;
}

.box-odd {
    background-color: blue;
}