main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box, .box-odd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box {
    background-color: green;
}

.box-odd {
    background-color: blue;
}